*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}
body{
    background-color: silver;
}

.header {
    height: 13vh;
    background-color: rgb(29, 28, 29);
    border-bottom: #FF0040 3px solid;
    
    
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.header h1 {
    color: 	#FFB6C1;
}

.navbar {
   
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.navbar li {
    margin-right: 30px;
    font-weight: lighter;
    color: #FF0040;
}

.navbar li:hover {
    color: white;
}

.navbar li a {
    text-decoration: none;
    color: #FF0040;
}

.navbar .active {
    font-weight: bolder;
}

.central-header {
    height: 20vh;
    background-color: #828282;
    padding-left: 10vw;


}

.central-header img {
    height: 20vh;
    border-radius: 20px;
}

.container .banner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container h2 {
    font-size: 25px;
    color: royalblue;
    margin-bottom: 10px;
    }

 .content{
     justify-content: center;
    align-items: center;
    
}

.content .paragrafo {
    font-weight: 600;
    font-size:20px;
}

